body {
    background-color: powderblue !important;
}

.imagenLogo {
    height: 50px;
    margin-right: 10px;
}

.logoCarrito {
    height: 50px;
}

.textoPrincipal {
    text-align: center;
    margin-top: 10px;
}

.carrito {
    color: white;
}

.loading {
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: fixed;
}

.borderBox {
    border-color: rgb(41, 39, 39);
    border-style: solid;
}